.board-name {
    font-family: Arial, sans-serif;
    font-size: 28px;
    color: #333333;
    margin-left: 40px;
    margin-top: 30px;
}

.board {
    display: flex;
    overflow-x: auto;
    padding: 10px;
}


.column {
    flex: 0 0 300px;
    margin-right: 10px;
    border: 1px solid #e8c1d2;
    border-radius: 8px;
    padding: 10px;
    background-color: #f1c3db;
    margin-top: 5px;
    margin-bottom: 5px;
}

.new_column {
    flex: 0 0 300px;
    margin-right: 10px;
    border: 1px solid #e8c1d2;
    border-radius: 8px;
    padding: 10px;
    background-color: #ecc7d1;
}

.column_header {
    font-weight: bold;
    margin: 0;
    padding: 8px;
    background-color: #fb9fc1;
    color: white;
    text-align: center;
    min-height: 40px;
    z-index: 1;
    border-radius: 2px;
}

.new_header {
    font-weight: bold;
    margin: 0;
    padding: 8px;
    background-color: #f88fa9;
    color: white;
    text-align: center;
}

.cards {
    background-color: #b3788f;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
    min-height: 50px;
    align-items: center;
    z-index: 2;
}

.new_card {
    background-color: #6fadc7;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.cards:hover {
    background-color: #f0f0f0;
}

.title-container {
    display: flex;
    position: relative;
}

.column_header {
    display: flex;
    position: relative;
    align-items: center;
}

.priority-dot {
    position: absolute;
    right: 1rem;
    font-size: 20px;
    align-self: center;
}

.archive-column {
    position: absolute;
    right: 1rem;
    font-size: 10px;
    align-self: center;
}

.selected-label {
    background-color: #fbdcdc;
    color: #444242;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.7);
    padding: 5px;
    margin: 5px 5px 5px 0;
    border-radius: 5px;
    display: inline-block;
}

.labels {
    align-self: stretch;
    text-align: left;
}

.label-card {
    font-size: 0.75rem;
    margin: 0;
}

.card-name {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.card-name-details {
    width: 400px;
    max-width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
    overflow-y: auto;
    text-overflow: clip;
    display: inline-block;
}

#custom-labels {
    padding-top: 10px;
}

.custom-label {
    margin-top: 5px;
    padding: 5px;
    position: relative;
    border-radius: 8px;
}

.edit-label {
    position: absolute;
    right: 25px;
    cursor: pointer;
}

.delete-label {
    position: absolute;
    right: 5px;
    cursor: pointer;
}

#message {
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 40px;
    color: red;
}

.modal-backdrop {
    background-color: transparent;
}