#navigation-container {
    width: 100%;
    height: 70px;
}

.navigation-bar {
    background-color: #e0d1e1;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 0;
}

.app-name {
    float: left;
    font-family: "Lobster", cursive;
    font-size: 24px;
    color: #607d8b;
    margin-top: 20px;
}

.logo {
    float: left;
}

.navigation-bar img {
    float: left;
}

.navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: right;
    display: flex;
    align-items: right;
    justify-content: right;
    vertical-align: top;
}

.navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
}

.navigation-bar li a {
    color: #6c567b;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
}

.navigation-bar li a:hover {
    color: #996699;
}