body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5e1f4;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #333333;
  margin-left: 40px;
  margin-top: 20px;
}

.content {
  margin: 20px;
}

.flex-div {
  display: flex;
}