body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: rgba(252, 246, 252, 0.108);
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 32px;
  color: hsl(200, 18%, 30%);
  margin-left: 40px;
  margin-top: 30px;
}

.content {
  margin: 20px;
}

.flex-div {
  display: flex;
}