.title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.error {
    color: #ff6b6b;
    text-align: center;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card--subscription {
    width: 25rem;
    height: 25rem;
    background-color: rgba(252, 248, 243, 0.594);
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.card__body {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card__title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.card__text {
    margin-top: 2rem;
}

.price {
    font-size: large;
    font-weight: bold;
    margin-bottom: 2rem;
}

.btn {
    display: block;
    width: 100%;
    text-align: center;
}

.btn--subscription {
    background-color: #6fadc7;
    color: #ffffff;
}

.btn--disabled {
    background-color: #6c757d;
    color: #ffffff;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .card--subscription {
        width: 90%;
    }
}