doctype html
html(lang="en")
    head
        title 404 Not Found
        link(rel="stylesheet" href="/stylesheets/404.css")
    body
        .error-container
            .error-code 404
            .error-message Oops! Page not found.
            a.back-to-home(href="/workspaces") Back to Home
