doctype html

html(lang='en')
  head
    link(rel='stylesheet', href='/public/stylesheets/style.css')
  body
    h1 #{name}
    div
        div.grid.flex-start-content.board
            div.grid.flex-start-content.sortable
              each column in columns
                div.column
                  div.sortable_column
                    p.column_header #{column.name}
                      each card in column.cards
                        div.sortItem.cards
                          p #{card.name}
                  div.cards.new_card
                      p add a card
              div.column.new_column
                p.column_header.new_header add a column
  
    script(src = "/public/javascripts/boards.js", type = "module")
     