head
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap")
    link(rel='stylesheet' href='/public/stylesheets/navbar.css')
body
    .navigation-bar
        #navigation-container
            img(src="/public/favicon.ico" alt="Logo" width="80" height="80")
            span.app-name Kandy
            if (user) 
                ul
                    li: a(href="/workspaces") Home
                    li: a(href="/subscriptions") Upgrade
                    li: a(href="/auth/logout") Logout
            else 
                ul
                    li: a(href="/auth/login") Login
                    li: a(href="/auth/signup") Signup